@charset "UTF-8";


html {
    font-size: 100%;
}

.page-header {
    display: flex;
    background-color: #745024;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.titlelogo {
    color: #f4e4c1; 
    font-size: 20px;
    font-weight: bold;
}

.main-navbar {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.section {
    margin: 30px;
}

.sentense {
    margin: 30px;
}

body {
    background-color:#FFEAC2 ;
    margin: 0%;
}

.main-navbar a {
    text-decoration: none;
    color: #f4e4c1;
    font-size: 16px;
    transition: color 0.3s ease;
}

.main-navbar a:hover {
  color: #ffb347;
}

.form-box {
    background-color: #FFFDEA;
    padding: 30px;
    margin: 100px;
    border-radius: 20px;
}

.form-box label {
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.send-button {
    display: block;
    background-color: #A5E5BE;
    margin: 30px auto 0;
    border: none;
    cursor: pointer;
}

.url a {
    text-decoration: none;
    color: #f4e4c1;
    font-size: 16px;
    transition: color 0.3s ease;
}

.url a:hover {
  color: #ffb347;
}

.footer-page {
    display: flex;
    background-color: #745024;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.footer-sentense {
    color: #f4e4c1; 
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 700px) {

  /* header */
  .main-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .titlelogo {
    font-size: 1.5rem;
    text-align: center;
  }

  /* 文字 */
  .welcome {
    font-size: 1.8rem;
    text-align: center;
  }

  .section {
    font-size: 1.3rem;
  }

  .sentense {
    font-size: 0.95rem;
    line-height: 1.7;
  }

  /* 余白調整 */
  .body {
    padding: 10px;
  }

  .more-button {
    text-align: center;
  }


}